@charset "UTF-8";
// Importerar alla scss-filer
@import 'layout';
@import 'images';
@import 'footer';
@import 'buttons';
// @import 'form';
@import 'table';
@import 'boxes';
// @import 'menu';
@import 'heading';